*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: sans-serif;
    background-color: lightblue;
    min-height: 2000px;
}

.hitung{
    background: cadetblue;
    color: white;
    font-size: 11pt;
    width: 50%;
    border: none;
    border-radius: 3px;
    padding: 80px auto;
}
.reset{
    background-color:burlywood;
    color: white;
    font-size: 11pt;
    width: 50%;
    border: none;
    border-radius: 3px;
    padding: 80px auto;
}
.tabel tr td gambar{
    margin: 0.5rem;
    width: 10%;
    height: 10%;
}

.table tr td{
    border: 1px;
    padding: 10px;
    margin: 80px auto;
}